---
layout: page
title: <i class="fa fa-home fa-lg"></i>
titlename: 首页
description: 编程，写作，思考，实践，得道
---

<div>
  <h2 style="text-align:center">编程，写作，思考，实践，得道</h2>

  <br>
  <p style="font-size:18px">你好，陌生人，欢迎来到我的世界 : )<br>
    相逢即是缘，希望你在浏览本站之后能够有所收获。<br>
  <p>

  <h3 id="#newest">最新文章</h3>
  <ul>
    {% for post in site.posts limit:10 %}
    <li>
      <h4>
        <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
      </h4>
    </li>
    {% endfor %}
  </ul>

  <hr>

  <h3 id="#essence">{{ site.locals.essence }}</h3>
  <ul>
    {% for cate in site.cates %}
    {% for tag in site.tags %}
    {% if tag[0] == cate %}
    {% for post in tag[1] %}
    <li>
      <h4>
        <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
      </h4>
    </li>
    {% endfor %}
    {% endif %}
    {% endfor %}

    {% endfor %}
  </ul>

</div>
 
