<div id="share">
    <p style="font-size:18px;font-weight: bold">
        文章有用？分享给你的朋友们，让更多的人受益
    </p>

    <ul class="share-buttons">
        <li>
            <a href="#" target="_blank" title="Share on Wechat">
                <div id="qrcode"></div>
                <img alt="Share on Wechat" src="/img/share/WeChat.svg"/>
            </a>
        </li>
        &nbsp;
        <li>
            <a href="http://service.weibo.com/share/share.php?url={{page.url}}&title={{page.title}}" target="_blank"
               title="Share on Weibo">
                <img alt="Share on Weibo" src="/img/share/Weibo.svg"/>
            </a>
        </li>
        &nbsp;
        <li><a href="https://plus.google.com/share?url={{page.url}}" target="_blank"
               title="Share on Google+">
            <img alt="Share on Google+" src="/img/share/Google+.svg"/>
        </a>
        </li>
        &nbsp;
        <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{page.url}}&title={{page.title}}&source={{page.url}}"
               target="_blank" title="Share on LinkedIn">
            <img alt="Share on LinkedIn" src="/img/share/LinkedIn.svg"/>
        </a>
        </li>
        &nbsp;
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{page.url}}&t={{page.title}}"
               title="Share on Facebook" target="_blank">
                <img alt="Share on Facebook" src="/img/share/Facebook.svg"/>
            </a>
        </li>
        &nbsp;
        <li>
            <a href="https://twitter.com/intent/tweet?source={{page.url}}&text={{page.title}} {{page.url}}"
               target="_blank" title="Tweet">
                <img alt="Tweet" src="/img/share/Twitter.svg"/>
            </a>
        </li>
    </ul>

    <br>

    <p style="font-size:18px;font-weight: bold">
        每个人的内心都渴望被他人认可，您的赞赏是对我的最大鼓励与支持<br>
        <img alt="appreciate_ali" class="appreciate" src="/img/appreciate_ali.png"/>
        <img alt="appreciate_wx" class="appreciate" src="/img/appreciate_wx.png"/>
    </p>

    <p style="font-size:18px;font-weight: bold">
        更多精彩干货，尽请关注我的个人微信公众号：禅与黑客<br>
        <img alt="wechat" class="appreciate" src="/img/wechat.jpg"/>
    </p>
</div>
