<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
        id: '{{page.url}}', // 可选。默认为 location.href
        owner: 'songxin1990',
        repo: 'songxin1990.github.io',
        perPage: 10,
        oauth: {
            client_id: 'f2299daf48f59439fc7e',
            client_secret: 'a510e7758a872c5554e06ad92cacb7e8b5936315',
        },
    })
    gitment.render('container')
</script>