<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script src="/public/js/jquery.pjax.js"></script>
<script src="/public/js/prettify/prettify.js"></script>
<script src="/public/js/base.js"></script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "宋鑫",
  "url": "http://www.your-site.com",
  "sameAs": [
    "{{ site.author.github }}",
    "{{ site.author.zhihu }}",
    "{{ site.author.googleplus }}",
    "{{ site.author.facebook }}",
    "{{ site.author.twitter }}",
    "{{ site.author.linkedin }}"
  ]
}
</script>