<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script src="/public/js/jquery.pjax.js"></script>
<script src="/public/js/prettify/prettify.js"></script>
<script src="/public/js/base.js"></script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "宋鑫",
  "url": "http://www.your-site.com",
  "sameAs": [
    "{{ site.author.github }}",
    "{{ site.author.zhihu }}",
    "{{ site.author.googleplus }}",
    "{{ site.author.facebook }}",
    "{{ site.author.twitter }}",
    "{{ site.author.linkedin }}"
  ]
}
</script>
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
        id: '{{page.url}}', // 可选。默认为 location.href
        owner: 'songxin1990',
        repo: 'songxin1990.github.io',
        perPage: 10,
        oauth: {
            client_id: 'f2299daf48f59439fc7e',
            client_secret: 'a510e7758a872c5554e06ad92cacb7e8b5936315',
        },
    })
    gitment.render('container')
</script>