<meta charset="utf-8">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="author" content="{{ site.author.name }}">
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% if page.description  %}
  <meta name="description " content="{{ page.description  }}">
{% endif %}
<link rel="shortcut icon" href="{{ site.favicon }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/public/css/bootstrap.css">
<link rel="stylesheet" href="/public/css/font-awesome.css">
<link rel="stylesheet" href="/public/js/prettify/prettify.css">
<link rel="stylesheet" href="/public/css/base.css">


<link href="/pages/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">

{% if page.tipue_search_active or layout.tipue_search_active %}
<link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
<link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
<script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
<script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
{% endif %
