<meta charset="utf-8">
<title>{{ page.title }} | {{ site.title }}</title>
{% seo %}
<link rel="shortcut icon" href="{{ site.favicon }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="msvalidate.01" content="76B177235172097DAFF78A0C750658B1" />
<meta name="sogou_site_verification" content="0g3QdKGMGK"/>
<meta name="360-site-verification" content="c94e3336c2f515d0285f3d18312ab981" />
<meta name="baidu-site-verification" content="gP0ZZIXso0" />
<link rel="stylesheet" href="/public/css/bootstrap.css">
<link rel="stylesheet" href="/public/css/font-awesome.css">
<link rel="stylesheet" href="/public/js/prettify/prettify.css">
<link rel="stylesheet" href="/public/css/base.css">
<link rel="stylesheet" href="/public/css/jquery.fancybox.min.css" >
<link href="/pages/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">

