<meta charset="utf-8">
<title>{{ page.title }} | {{ site.title }}</title>
<!--<meta name="author" content="{{ site.author.name }}">
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
{% endif %}
{% if page.description  %}
  <meta name="description " content="{{ page.description  }}">
{% endif %}-->

{% seo %}
<link rel="shortcut icon" href="{{ site.favicon }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="msvalidate.01" content="76B177235172097DAFF78A0C750658B1" />
<meta name="baidu-site-verification" content="BjJPWTE1T9" />
<link rel="stylesheet" href="/public/css/bootstrap.css">
<link rel="stylesheet" href="/public/css/font-awesome.css">
<link rel="stylesheet" href="/public/js/prettify/prettify.css">
<link rel="stylesheet" href="/public/css/base.css">
<link rel="stylesheet" href="/public/css/jquery.fancybox.min.css" >
<link href="/pages/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">
<link rel="alternate" hreflang="x-default" href="http://3gods.com/" />
<link rel="alternate" hreflang="zh-Hans" href="http://3gods.com/" />