<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img alt="3gods.com logo" src="/public/img/fav.ico">
            </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav ">
            <li class="dropdown">
                <a href="/tech.html" class="dropdown-toggle" data-toggle="dropdown">编程 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/redis.html">Redis</a></li>
                    <li><a href="/database.html">数据库</a></li>
                    <li><a href="/bigdata.html">大数据</a></li>
                    <li><a href="/opensource.html">开源</a></li>
                    <li><a href="/project.html">项目总结</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="/trade.html" class="dropdown-toggle" data-toggle="dropdown">交易 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/stock.html">股票</a></li>
                    <li><a href="/future.html">期货</a></li>
                    <li><a href="/tradesystem.html">交易系统</a></li>
                    <li><a href="/porker.html">德州扑克</a></li>
                </ul>
            </li>

            <li><a href="/career.html">职场&nbsp;</a></li>
            <li class="dropdown">
                <a href="/growing.html" class="dropdown-toggle" data-toggle="dropdown">成长 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/tips.html">小贴士</a></li>
                    <li><a href="/zen.html">禅</a></li>
                    <li><a href="/essay.html">感想</a></li>
                    <li><a href="/trash.html">废弃</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="/creation.html" class="dropdown-toggle" data-toggle="dropdown">创作 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/book.html">书单</a></li>
                    <li><a href="/note.html">笔记</a></li>
                    <li><a href="/essay.html">感想</a></li>
                    <li><a href="/trash.html">废弃</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="/creation.html" class="dropdown-toggle" data-toggle="dropdown">生活 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/book.html">旅行</a></li>
                    <li><a href="/note.html">摄影</a></li>
                    <li><a href="/essay.html"></a></li>
                    <li><a href="/essay.html">感想</a></li>
                    <li><a href="/trash.html">废弃</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">站长 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">SEO</a></li>

                </ul>
            </li>

            <li><a href="/archive.html">归档</a></li>
            <li><a href="/about.html">关于</a></li>
        </ul>
    </div>
</nav>
