<div class="col-md-3 col-lg-3 col-sm-13 col-xs-13 aside visible-md visible-lg">
  <div class="row">
    <div class="col-md-2 col-xs-2 aside1">
      <br>
     <!-- <a class="pjaxlink" href="/">&lt;!&ndash;<img src="{{ site.gavatar }}" class="img-ronuded avatar" style="border-width:0px; border-color:#000">&ndash;&gt;
      </a>-->
      <ul class="nav nav-pills nav-stacked">
        <li><a class="pjaxlink" href="/">首页</a></li>
        <li><a class="pjaxlink" href="/pages/life.html">生活</a></li>
        <li><a class="pjaxlink" href="/pages/work.html">工作</a></li>
        <li><a class="pjaxlink" href="/pages/trade.html">交易</a></li>
        <li><a class="pjaxlink" href="/pages/technology.html">技术</a></li>
        <li><a class="pjaxlink" href="/pages/product.html">产品</a></li>
        <li><a class="pjaxlink" href="/pages/creation.html">创作</a></li>
        <li><a class="pjaxlink" href="/pages/photography.html">摄影</a></li>
        <li><a class="pjaxlink" href="/pages/porker.html">德州</a></li>
        <li><a class="pjaxlink" href="/pages/others.html">其他</a></li>
       <!-- <li><a href="#tags" data-toggle="tab">{{ site.locals.tags }}</a></li>  -->
        <li><a class="pjaxlink" href="/pages/archive.html">{{ site.locals.archive }}</a></li>
      </ul>
    </div>

  </div>
</div>
