<div id="share">
<ul class="share-buttons">
    <li><a href="https://plus.google.com/share?url=http%3A%2F%2F3gods.com" target="_blank" title="Share on Google+">
        <img alt="Share on Wechat" src="{{site.url}}/public/img/share/WeChat.svg" />
        </a>
    </li>
    <li><a href="https://plus.google.com/share?url=http%3A%2F%2F3gods.com" target="_blank" title="Share on Google+">
        <img alt="Share on Weibo" src="{{site.url}}/public/img/share/Weibo.svg" />
    </a>
    </li>

    <li><a href="https://plus.google.com/share?url=http%3A%2F%2F3gods.com" target="_blank" title="Share on Google+">
        <img alt="Share on Google+" src="{{site.url}}/public/img/share/Google+.svg" />
    </a>
    </li>

    <li><a href="https://plus.google.com/share?url=http%3A%2F%2F3gods.com" target="_blank" title="Share on Google+">
        <img alt="Share on Google+" src="{{site.url}}/public/img/share/Google+.svg" />
    </a>
    </li>
</ul>
</div>


<!--baidu share
    <div class="bdsharebuttonbox">
    <a href="#" class="bds_more" data-cmd="more"></a>
    <a href="#" class="bds_qzone" data-cmd="qzone">
    </a><a href="#" class="bds_tsina" href="#" class="bds_tqq" data-cmd="tqq"></a>
    <a href="#" class="bds_renren" data-cmd="renren">
    </a><a href="#" lass="bds_weixin" data-cmd="weixin"></a>
</div>
<script>window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16"
    },
    "share": {},
    "image": {"viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16"},
    "selectShare": {"bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]}
};
with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script-->>