---
permalink: /business.html
layout: page
title: <i class="fa fa-archive fa-lg"></i>
titlename: 商业
comments: false
description:
---

<!-- 商业-->
<h3 id="#business">{{ site.locals.business }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "business" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<!-- 产品-->
<h3 id="#product">产品</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "product" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>




