---
layout: page_title
title: <i class="fa fa-archive fa-lg"></i>
titlename: 创作
comments: false
description: 当你开始创作，你就是上帝
---

<!--笔记-->
<h3 id="#note">读书笔记</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "note" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<!-- 散文-->
<h3 id="#essay">{{ site.locals.essay }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "essay" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<!--诗歌-->
<h3 id="#poem">我喜欢的{{ site.locals.poem }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "poem" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<!--读书-->
<h3 id="#book">{{ site.locals.book }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "book" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<!--读后感-->
<!--<h3 id="#review ">{{ site.locals.review  }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "review" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>-->


