---
layout: page_title
title: <i class="fa fa-archive fa-lg"></i>
titlename: 生活
comments: false
---

<!-- 生活下分：生活禅，感悟，生活梦想，-->
<h3 id="#zen">{{ site.locals.zen }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "zen" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3 id="#inspiration">{{ site.locals.inspiration }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "inspiration" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3 id="#dream">{{ site.locals.dream }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "dream" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>



