---
layout: page_title
title: <i class="fa fa-archive fa-lg"></i>
titlename: 摄影
comments: false
---

<!-- 摄影下分：旅行，生活，商业，-->
<h2 id="#travel">{{ site.locals.travel }}</h2>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "travel" %}
    <li>
        <h3>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h3>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h2 id="#lifephoto">{{ site.locals.lifephoto }}</h2>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "lifephoto" %}
    <li>
        <h3>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h3>
    </li>
    {% endif %}
    {% endfor %}
</ul>


