---
permalink: /tech.html
redirect_from: /pages/technology.html
layout: page_title
title: <i class="fa fa-archive fa-lg"></i>
titlename: 技术
comments: false
description: 研究互联网开发技术
---

<!--
技术下分：大数据，基础，开源，工具，并发，
-->
<h2>研究互联网开发技术</h2>
<hr>

<h3 id="#bigdata">{{ site.locals.bigdata }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "bigdata" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3 id="#concurrent">{{ site.locals.concurrent }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "concurrent" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3 id="#database">{{ site.locals.database }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "database" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3 id="#monitor">监控</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "monitor" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>


<h3 id="#javacore">{{ site.locals.javacore }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "javacore" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3 id="#project">{{ site.locals.project }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "project" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3 id="#career">职业发展</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "career" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3 id="#interview">{{ site.locals.interview }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "interview" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>


<h3 id="#opensource">{{ site.locals.opensource }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "opensource" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

