---
layout: page_title
title: <i class="fa fa-archive fa-lg"></i>
titlename: 交易
comments: false
---

<!--
交易下分：股票，期货，交易系统，
-->
<h3 id="#stock">{{ site.locals.stock }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "stock" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3 id="#future">{{ site.locals.future }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "future" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3 id="#tradesystem">{{ site.locals.tradesystem }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "tradesystem" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<!-- 德州扑克-->
<h3 id="#porker">{{ site.locals.porker }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "porker" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>
