---
layout: page_title
title: <i class="fa fa-archive fa-lg"></i>
titlename: 摄影
comments: false
description: 环游世界是我的梦想
---

<!-- 旅行下分：生活照片，旅行照片，旅行游记，-->
<h2>环游世界是我的梦想</h2>
<hr>
<h3 id="#photography">{{ site.locals.photography }}</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "photography" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>


<h3 id="#youji">游记</h3>
<ul>
    {% for post in site.posts %}
    {% if post.category contains "youji" %}
    <li>
        <h4>
            <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>



