<!doctype html>
<html>
<head>
    {% include header.html %}
    {% include baiduanalytics.html %}
</head>
<body>

<div class="container">
    <h2>{{page.title}}</h2>
    <div id="captioned-gallery">
        <figure class="slider">
            {% for img in site.data.photography.guizhou %}
            <figure>
                <img src="{{img.url}}" alt="{{img.alt}}">
                <figcaption>Hobbiton, New Zealand</figcaption>
            </figure>
            {% endfor %}
        </figure>
    </div>

</div>
{% include footer.html %}
{% include googleanalytics.html %}
</body>
</html>