---
layout: base
---

<div class="row">
    <!-- 文章标题 -->
    <div class="col-md-15 aside3-title">
        <br>
        <h2 id="#identifier">
            {% if page.categories contains "trash" %}
            <del>{{ page.title }}</del>
            {% else %}
            {{ page.title }}
            {% endif %}
        </h2>
        {{ site.author.name }} &nbsp;&nbsp; {{ page.date | date:"%Y-%m-%d" }}
    </div>

    <!-- 文章内容 -->
    <div class="col-md-15 aside3-content col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
        <hr>
        <div id="content">
            <ul class="breadcrumb">
                <li><a href="/"> 首页</a></li>
                <li><a href="{{site.url}}/{{page.categories}}"> 大数据</a></li>
            </ul>

            <p>本文原创于：<a href="http://3gods.com">宋鑫的官方网站</a>，原文地址为：http://3gods.com{{page.url}}，转载请注明出处，谢谢。</p>
            {{ content }}

        </div>

        <br>
        <hr>
        {% include share.html %}
        <hr>
        {% include beian.html %}
        <hr>
    </div>

    <!-- 目录 -->
    <div id="content_table" style="position:fixed;right:20px;top:120px;display:none;">
        <div class="panel panel-success">
            <div class="panel-body" id="nav"></div>
        </div>
    </div>

</div>

